<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>pic</title>
    <link rel="stylesheet" href="static/css/index.css" />
</head>
<body>
    <div class="wrap clearfix">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="left">
                <span>本地上传</span><a href=""><img src="static/images/que.jpg" title="从本地上传图片，图片格式为xxx" alt="?" /></a> 
                <input type="file" name="file" id="file" title="" />
                <input type="submit" name="file" value="分析图片">
            </div>    
            <div class="right">
                <span class="pic_link">上传图片链接</span><a href=""><img src="static/images/que.jpg" title="上传图片链接" alt="?" /></a><br />
                <input type="text" name="pic_url" id="pic_url" placeholder="在此黏贴图片网址" />
                <input type="submit" value="搜索图片" id="submit" />
            </div>
        </form>
    </div>
</body>
</html>